{% load static %}

<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration or Sign Up form in HTML CSS | CodingLab </title>
    <link rel="stylesheet" href="{% static 'register/style.css' %}">
  </head>
  <body>

    <div class="wrapper">
      <h2>Вход</h2>

      <form method="POST">
        {% csrf_token %}



        <div class="input-box">
          <input type="email" placeholder="Email" name="email" value="{{ email|default:'' }}" required>
        </div>

        <div class="input-box">
          <input type="password" placeholder="Password" name="password" value="{{ password|default:'' }}" required>
        </div>

        <div class="input-box button">
          <input type="Submit" value="Войти">
        </div>




  </body>
</html>
